*.class
/bin/*
/vs17-workspace/.vs/*
/vs17-workspace/WaveformJNI/x64
/vs17-workspace/WaveformJNI/Debug
/vs17-workspace/**/*.lib
/vs17-workspace/**/*.exp
/vs17-workspace/**/*.filters
/vs17-workspace/**/*.iobj
/vs17-workspace/**/*.pdb
/vs17-workspace/**/*.ipdb
/vs17-workspace/**/*.ilk
test1.wav
WaveformJNI*.zip
build.num
hs_err*.log
